/* RESET CSS */

/* Zera margens, paddings e força box-sizing global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove estilos de lista */
ul,
ol {
  list-style: none;
}

/* Remove sublinhado e cor padrão de links */
a {
  text-decoration: none;
  color: inherit;
}

/* Garante que imagens e mídias não estourem o container */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Garante tipografia consistente */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background: #ebedec;
  
}

/* Remove estilos de botão/input */
button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

/* Remove aspas automáticas em blockquote e q */
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}
